<b>This notebook will be mainly used for the capstone project.</b>

In [1]:
import pandas as pd
import numpy as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [2]:
collisions_dataframe = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
collisions_dataframe.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [4]:
#removing columns that are unneeded and selecting columns that are relevant
collisions_dataframe_cleaned = collisions_dataframe[['ADDRTYPE', "LOCATION", "PERSONCOUNT", "VEHCOUNT", "JUNCTIONTYPE", 
                                                     "INATTENTIONIND", "UNDERINFL", "WEATHER", "ROADCOND", "LIGHTCOND", "PEDROWNOTGRNT", "SPEEDING"]]
print(collisions_dataframe_cleaned.shape)
collisions_dataframe_cleaned.head(5)

(194673, 12)

,ADDRTYPE,LOCATION,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING
0,Intersection,5TH AVE NE AND NE 103RD ST,2,2,At Intersection (intersection related),NaN,N,Overcast,Wet,Daylight,NaN,NaN
1,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,2,2,Mid-Block (not related to intersection),NaN,0,Raining,Wet,Dark - Street Lights On,NaN,NaN
2,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,4,3,Mid-Block (not related to intersection),NaN,0,Overcast,Dry,Daylight,NaN,NaN
3,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,3,3,Mid-Block (not related to intersection),NaN,N,Clear,Dry,Daylight,NaN,NaN
4,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,2,2,At Intersection (intersection related),NaN,0,Raining,Wet,Daylight,NaN,NaN

In [5]:
#identifying rows that have NaN values, and prepare to clean them
collisions_dataframe_cleaned.isna().sum()

ADDRTYPE            1926
LOCATION            2677
PERSONCOUNT            0
VEHCOUNT               0
JUNCTIONTYPE        6329
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SPEEDING          185340
dtype: int64

In [6]:
#For ADDRTYPE : remove rows that doesn't have a location
print(collisions_dataframe_cleaned['ADDRTYPE'].value_counts())
collisions_dataframe_cleaned.dropna(subset=['ADDRTYPE'], inplace=True)
print(collisions_dataframe_cleaned['ADDRTYPE'].value_counts())
collisions_dataframe_cleaned.isna().sum()

Block           126926
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64
Block           126926
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

ADDRTYPE               0
LOCATION             751
PERSONCOUNT            0
VEHCOUNT               0
JUNCTIONTYPE        4733
INATTENTIONIND    163076
UNDERINFL           4777
WEATHER             4971
ROADCOND            4903
LIGHTCOND           5058
PEDROWNOTGRNT     188083
SPEEDING          183468
dtype: int64

In [7]:
#For Location : Replacing NaN with Unknowns
print(collisions_dataframe_cleaned["LOCATION"].value_counts())
collisions_dataframe_cleaned["LOCATION"] = collisions_dataframe_cleaned["LOCATION"].fillna("Unknown")
print(collisions_dataframe_cleaned["LOCATION"].value_counts())

collisions_dataframe_cleaned.isna().sum()

BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N                          276
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB                          271
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N                                265
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                                          254
6TH AVE AND JAMES ST                                                                    252
AURORA AVE N BETWEEN N 130TH ST AND N 135TH ST                                          239
ALASKAN WY VI NB BETWEEN S ROYAL BROUGHAM WAY ON RP AND SENECA ST OFF RP                238
RAINIER AVE S BETWEEN S BAYVIEW ST AND S MCCLELLAN ST                                   231
WEST SEATTLE BR EB BETWEEN ALASKAN WY VI NB ON RP AND DELRIDGE-W SEATTLE BR EB ON RP    212
ALASKAN WY VI SB BETWEEN COLUMBIA ST ON RP AND ALASKAN WY VI SB EFR OFF RP              212
AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N                                              190
ALASKAN WY VI NB BETWEEN SENECA ST OFF RP AND WESTERN AV OFF RP                         164
1ST AVE BETWEEN BLANCHARD ST AND BELL ST                                                161
5TH AVE AND SPRING ST                                                                   160
RAINIER AVE S BETWEEN S HENDERSON ST AND S DIRECTOR N ST                                152
RAINIER AVE S BETWEEN S DEARBORN ST AND S CHARLES N ST                                  146
RAINIER AVE S BETWEEN S CHARLESTOWN ST AND S ANDOVER ST                                 142
5TH AVE AND UNION ST                                                                    138
NE NORTHGATE WAY BETWEEN 5TH AVE NE AND 8TH AVE NE                                      136
5TH AVE AND VIRGINIA ST                                                                 136
OLSON PL SW BETWEEN 1ST AVE S AND 2ND AVE SW                                            133
MONTLAKE BLVD NE BETWEEN NE PACIFIC PL AND 25TH AVE NE                                  132
NE NORTHGATE WAY BETWEEN 3RD AVE NE AND 5TH AVE NE                                      131
RAINIER AVE S BETWEEN S CLOVERDALE ST AND S HENDERSON ST                                130
1ST AVE BETWEEN UNION ST AND PIKE ST                                                    129
12TH AVE AND E MADISON ST                                                               128
RAINIER AVE S AND S ORCAS ST                                                            128
5TH AVE AND UNIVERSITY ST                                                               128
S MICHIGAN ST BETWEEN 7TH AVE S AND CORSON AVE S                                        126
EAST MARGINAL WAY S BETWEEN S FIDALGO ST AND 1ST AVE S                                  125
                                                                                       ...
BAY ST BETWEEN DEAD END 1 AND ELLIOTT AVE                                                 1
7TH AVE S AND S HENDERSON ST                                                              1
W HALLADAY ST BETWEEN 4TH AVE W AND 5TH AVE W                                             1
24TH AVE SW BETWEEN SW ELMGROVE ST AND SW THISTLE ST                                      1
AIRPORT WAY S BETWEEN S HORTON N ST AND S HORTON S ST                                     1
38TH AVE NE BETWEEN WESTWOOD PL NE AND NE 145TH ST                                        1
41ST AVE SW AND SW ANDOVER ST                                                             1
I5 SB - COLUMBIAN WY RP AND S COLUMBIAN EB WAY                                            1
49TH AVE SW AND SW DAWSON ST                                                              1
NE 106TH ST BETWEEN 17TH AVE NE AND 19TH AVE NE                                           1
9TH AVE S BETWEEN S BRADFORD ST AND S DAKOTA ST                                           1
39TH AVE SW BETWEEN SW 106TH ST AND SW 107TH ST                                           1
HARVARD AVE BETWEEN SENECA ST AND E UNION ST                                              1
3RD AVE NE BETWEEN NE 117TH ST AND DEAD END 2                                             1
29TH AVE W AND W SMITH ST                                                                 1
3RD AVE N AND ALOHA ST                                                                    1
SW DAKOTA ST BETWEEN DEAD END 3 AND 19TH AVE SW                                           1
33RD AVE SW BETWEEN SW 97TH ST AND SW 100TH ST                                            1
34TH AVE W AND W HOWE ST                                                                  1
30TH AVE SW AND SW JUNEAU ST                                                              1
6TH AVE S BETWEEN S FINDLAY ST AND S ORCAS ST                                             1
29TH AVE S AND S ADAMS ST                                                                 1
EVANSTON AVE N BETWEEN N 127TH ST AND N 130TH ST                                          1
16TH AVE S AND S KING ST                                                                  1
E HARRISON ST BETWEEN 17TH AVE E AND 18TH AVE E                                           1
S JUDKINS ST BETWEEN 22ND AVE S AND 23RD AVE S                                            1
39TH AVE SW BETWEEN SW 99TH ST AND SW 100TH ST                                            1
HUNTER WR BLVD S BETWEEN S HINDS ST AND S SPOKANE ST                                      1
E EDGAR ST BETWEEN 11TH AVE E AND BOYER AVE E                                             1
24TH AVE NE BETWEEN NE 80TH ST AND RAVENNA AVE NE                                         1
Name: LOCATION, Length: 24102, dtype: int64
Unknown                                                                                 751
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N                          276
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB                          271
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N                                265
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                                          254
6TH AVE AND JAMES ST                                                                    252
AURORA AVE N BETWEEN N 130TH ST AND N 135TH ST                                          239
ALASKAN WY VI NB BETWEEN S ROYAL BROUGHAM WAY ON RP AND SENECA ST OFF RP                238
RAINIER AVE S BETWEEN S BAYVIEW ST AND S MCCLELLAN ST                                   231
WEST SEATTLE BR EB BETWEEN ALASKAN WY VI NB ON RP AND DELRIDGE-W SEATTLE BR EB ON RP    212
ALASKAN WY VI SB BETWEEN COLUMBIA ST ON RP AND ALASKAN WY VI SB EFR OFF RP              212
AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N                                              190
ALASKAN WY VI NB BETWEEN SENECA ST OFF RP AND WESTERN AV OFF RP                         164
1ST AVE BETWEEN BLANCHARD ST AND BELL ST                                                161
5TH AVE AND SPRING ST                                                                   160
RAINIER AVE S BETWEEN S HENDERSON ST AND S DIRECTOR N ST                                152
RAINIER AVE S BETWEEN S DEARBORN ST AND S CHARLES N ST                                  146
RAINIER AVE S BETWEEN S CHARLESTOWN ST AND S ANDOVER ST                                 142
5TH AVE AND UNION ST                                                                    138
NE NORTHGATE WAY BETWEEN 5TH AVE NE AND 8TH AVE NE                                      136
5TH AVE AND VIRGINIA ST                                                                 136
OLSON PL SW BETWEEN 1ST AVE S AND 2ND AVE SW                                            133
MONTLAKE BLVD NE BETWEEN NE PACIFIC PL AND 25TH AVE NE                                  132
NE NORTHGATE WAY BETWEEN 3RD AVE NE AND 5TH AVE NE                                      131
RAINIER AVE S BETWEEN S CLOVERDALE ST AND S HENDERSON ST                                130
1ST AVE BETWEEN UNION ST AND PIKE ST                                                    129
5TH AVE AND UNIVERSITY ST                                                               128
RAINIER AVE S AND S ORCAS ST                                                            128
12TH AVE AND E MADISON ST                                                               128
S MICHIGAN ST BETWEEN 7TH AVE S AND CORSON AVE S                                        126
                                                                                       ...
W ELMORE ST BETWEEN 27TH AVE W AND WILLIAMS AVE W                                         1
11TH AVE SW BETWEEN SW CLOVERDALE ST AND SW TRENTON ST                                    1
E CHERRY ST BETWEEN 32ND AVE AND 33RD AVE                                                 1
58TH AVE S AND S PILGRIM ST                                                               1
23RD AVE NW BETWEEN NW 99TH ST AND NW 100TH ST                                            1
24TH AVE S BETWEEN S FERDINAND ST AND S HUDSON ST                                         1
WESTLAKE SHORE RDWY AVE N BETWEEN WESTLAKE EAST RDWY N AVE N AND HIGHLAND DR              1
45TH AVE NE BETWEEN NE 55TH ST AND NE 56TH ST                                             1
44TH PL NE BETWEEN 44TH AVE NE AND NE 70TH ST                                             1
S HORTON ST BETWEEN SIERRA DR S AND LAKEWOOD AVE S                                        1
I5 SB AND NE LAKE CITY WY ON RP                                                           1
20TH AVE NE BETWEEN NE 113TH ST AND NE 115TH E ST                                         1
HARRISON ST BETWEEN PONTIUS AVE N AND YALE AVE N                                          1
30TH AVE NE AND NE 85TH ST                                                                1
19TH AVE E AND E MCGRAW ST                                                                1
NE 110TH ST BETWEEN LAKE CITY WAY NE AND 27TH AVE NE                                      1
11TH AVE W AND W GALER ST                                                                 1
S HUDSON ST BETWEEN 43RD AVE S AND 44TH W AVE S                                           1
8TH AVE S AND S TRENTON W ST                                                              1
40TH AVE W BETWEEN W LAWTON ST AND W COMMODORE WAY                                        1
RAILROAD WR WAY S BETWEEN S KING ST AND RAILROAD CR WAY S                                 1
21ST AVE W BETWEEN THORNDYKE AVE W AND W BARRETT ST                                       1
31ST AVE NE AND NE 57TH ST                                                                1
6TH AVE W AND W PROSPECT ST                                                               1
N 38TH CT BETWEEN CARR PL N AND WOODLAWN AVE N                                            1
LAKEVIEW LN NE AND NE 105TH ST                                                            1
25TH AVE NW BETWEEN NW 83RD ST AND NW 85TH ST                                             1
S FRINK PL AND S WASHINGTON ST                                                            1
WILSON AVE S AND S UPLAND RD                                                              1
24TH AVE NE BETWEEN NE 80TH ST AND RAVENNA AVE NE                                         1
Name: LOCATION, Length: 24103, dtype: int64

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

ADDRTYPE               0
LOCATION               0
PERSONCOUNT            0
VEHCOUNT               0
JUNCTIONTYPE        4733
INATTENTIONIND    163076
UNDERINFL           4777
WEATHER             4971
ROADCOND            4903
LIGHTCOND           5058
PEDROWNOTGRNT     188083
SPEEDING          183468
dtype: int64

In [8]:
#For JUNCTIONTYPE : Replacing NaN with Unknowns
print(collisions_dataframe_cleaned["JUNCTIONTYPE"].value_counts())
collisions_dataframe_cleaned["JUNCTIONTYPE"] = collisions_dataframe_cleaned["JUNCTIONTYPE"].fillna("Unknown")
print(collisions_dataframe_cleaned["JUNCTIONTYPE"].value_counts())
collisions_dataframe_cleaned.isna().sum()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

Mid-Block (not related to intersection)              89517
At Intersection (intersection related)               62786
Mid-Block (but intersection related)                 22775
Driveway Junction                                    10670
At Intersection (but not related to intersection)     2096
Ramp Junction                                          164
Unknown                                                  6
Name: JUNCTIONTYPE, dtype: int64
Mid-Block (not related to intersection)              89517
At Intersection (intersection related)               62786
Mid-Block (but intersection related)                 22775
Driveway Junction                                    10670
Unknown                                               4739
At Intersection (but not related to intersection)     2096
Ramp Junction                                          164
Name: JUNCTIONTYPE, dtype: int64

ADDRTYPE               0
LOCATION               0
PERSONCOUNT            0
VEHCOUNT               0
JUNCTIONTYPE           0
INATTENTIONIND    163076
UNDERINFL           4777
WEATHER             4971
ROADCOND            4903
LIGHTCOND           5058
PEDROWNOTGRNT     188083
SPEEDING          183468
dtype: int64

In [9]:
#For INATTENTIONIND : Replacing NaN with N (for no)
print(collisions_dataframe_cleaned["INATTENTIONIND"].value_counts())
collisions_dataframe_cleaned["INATTENTIONIND"] = collisions_dataframe_cleaned["INATTENTIONIND"].fillna("N")
print(collisions_dataframe_cleaned["INATTENTIONIND"].value_counts()) 
collisions_dataframe_cleaned.isna().sum()

Y    29671
Name: INATTENTIONIND, dtype: int64

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

N    163076
Y     29671
Name: INATTENTIONIND, dtype: int64

ADDRTYPE               0
LOCATION               0
PERSONCOUNT            0
VEHCOUNT               0
JUNCTIONTYPE           0
INATTENTIONIND         0
UNDERINFL           4777
WEATHER             4971
ROADCOND            4903
LIGHTCOND           5058
PEDROWNOTGRNT     188083
SPEEDING          183468
dtype: int64

In [10]:
#For UNDERINFL : remove rows that doesn't have a specific value
collisions_dataframe_cleaned.dropna(subset=['UNDERINFL'], inplace=True)
print(collisions_dataframe_cleaned.shape)
collisions_dataframe_cleaned.isna().sum()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

(187970, 12)

ADDRTYPE               0
LOCATION               0
PERSONCOUNT            0
VEHCOUNT               0
JUNCTIONTYPE           0
INATTENTIONIND         0
UNDERINFL              0
WEATHER              194
ROADCOND             126
LIGHTCOND            281
PEDROWNOTGRNT     183306
SPEEDING          178691
dtype: int64

In [11]:
#For WEATHER : Replacing NaN with Unknown
print(collisions_dataframe_cleaned["WEATHER"].value_counts())
collisions_dataframe_cleaned["WEATHER"] = collisions_dataframe_cleaned["WEATHER"].fillna("Unknown")
print(collisions_dataframe_cleaned["WEATHER"].value_counts())
collisions_dataframe_cleaned.isna().sum()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

Clear                       110626
Raining                      33004
Overcast                     27584
Unknown                      14107
Snowing                        902
Other                          798
Fog/Smog/Smoke                 563
Sleet/Hail/Freezing Rain       112
Blowing Sand/Dirt               50
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64
Clear                       110626
Raining                      33004
Overcast                     27584
Unknown                      14301
Snowing                        902
Other                          798
Fog/Smog/Smoke                 563
Sleet/Hail/Freezing Rain       112
Blowing Sand/Dirt               50
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

ADDRTYPE               0
LOCATION               0
PERSONCOUNT            0
VEHCOUNT               0
JUNCTIONTYPE           0
INATTENTIONIND         0
UNDERINFL              0
WEATHER                0
ROADCOND             126
LIGHTCOND            281
PEDROWNOTGRNT     183306
SPEEDING          178691
dtype: int64

In [12]:
#For ROADCOND : Replacing NaN with Unknown
print(collisions_dataframe_cleaned["ROADCOND"].value_counts())
collisions_dataframe_cleaned["ROADCOND"] = collisions_dataframe_cleaned["ROADCOND"].fillna("Unknown")
print(collisions_dataframe_cleaned["ROADCOND"].value_counts())
collisions_dataframe_cleaned.isna().sum()

Dry               123945
Wet                47279
Unknown            14053
Ice                 1196
Snow/Slush           997
Other                125
Standing Water       111
Sand/Mud/Dirt         74
Oil                   64
Name: ROADCOND, dtype: int64

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

Dry               123945
Wet                47279
Unknown            14179
Ice                 1196
Snow/Slush           997
Other                125
Standing Water       111
Sand/Mud/Dirt         74
Oil                   64
Name: ROADCOND, dtype: int64

ADDRTYPE               0
LOCATION               0
PERSONCOUNT            0
VEHCOUNT               0
JUNCTIONTYPE           0
INATTENTIONIND         0
UNDERINFL              0
WEATHER                0
ROADCOND               0
LIGHTCOND            281
PEDROWNOTGRNT     183306
SPEEDING          178691
dtype: int64

In [13]:
#For LIGHTCOND : Replacing NaN with Unknown
print(collisions_dataframe_cleaned["LIGHTCOND"].value_counts())
collisions_dataframe_cleaned["LIGHTCOND"] = collisions_dataframe_cleaned["LIGHTCOND"].fillna("Unknown")
print(collisions_dataframe_cleaned["LIGHTCOND"].value_counts())
collisions_dataframe_cleaned.isna().sum()

Daylight                    115468
Dark - Street Lights On      48301
Unknown                      12616
Dusk                          5856
Dawn                          2491
Dark - No Street Lights       1528
Dark - Street Lights Off      1191
Other                          227
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

Daylight                    115468
Dark - Street Lights On      48301
Unknown                      12897
Dusk                          5856
Dawn                          2491
Dark - No Street Lights       1528
Dark - Street Lights Off      1191
Other                          227
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

ADDRTYPE               0
LOCATION               0
PERSONCOUNT            0
VEHCOUNT               0
JUNCTIONTYPE           0
INATTENTIONIND         0
UNDERINFL              0
WEATHER                0
ROADCOND               0
LIGHTCOND              0
PEDROWNOTGRNT     183306
SPEEDING          178691
dtype: int64

In [14]:
#For PEDROWNOTGRNT : Replacing NaN with N
print(collisions_dataframe_cleaned["PEDROWNOTGRNT"].value_counts())
collisions_dataframe_cleaned["PEDROWNOTGRNT"] = collisions_dataframe_cleaned["PEDROWNOTGRNT"].fillna("N")
print(collisions_dataframe_cleaned["PEDROWNOTGRNT"].value_counts())
collisions_dataframe_cleaned.isna().sum()

Y    4664
Name: PEDROWNOTGRNT, dtype: int64

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

N    183306
Y      4664
Name: PEDROWNOTGRNT, dtype: int64

ADDRTYPE               0
LOCATION               0
PERSONCOUNT            0
VEHCOUNT               0
JUNCTIONTYPE           0
INATTENTIONIND         0
UNDERINFL              0
WEATHER                0
ROADCOND               0
LIGHTCOND              0
PEDROWNOTGRNT          0
SPEEDING          178691
dtype: int64

In [15]:
#For SPEEDING : Replacing NaN with N
print(collisions_dataframe_cleaned["SPEEDING"].value_counts())
collisions_dataframe_cleaned["SPEEDING"] = collisions_dataframe_cleaned["SPEEDING"].fillna("N")
print(collisions_dataframe_cleaned["SPEEDING"].value_counts()) 
collisions_dataframe_cleaned.isna().sum()

Y    9279
Name: SPEEDING, dtype: int64

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

N    178691
Y      9279
Name: SPEEDING, dtype: int64

ADDRTYPE          0
LOCATION          0
PERSONCOUNT       0
VEHCOUNT          0
JUNCTIONTYPE      0
INATTENTIONIND    0
UNDERINFL         0
WEATHER           0
ROADCOND          0
LIGHTCOND         0
PEDROWNOTGRNT     0
SPEEDING          0
dtype: int64

In [16]:
collisions_dataframe_cleaned.head(10)

,ADDRTYPE,LOCATION,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING
0,Intersection,5TH AVE NE AND NE 103RD ST,2,2,At Intersection (intersection related),N,N,Overcast,Wet,Daylight,N,N
1,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,2,2,Mid-Block (not related to intersection),N,0,Raining,Wet,Dark - Street Lights On,N,N
2,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,4,3,Mid-Block (not related to intersection),N,0,Overcast,Dry,Daylight,N,N
3,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,3,3,Mid-Block (not related to intersection),N,N,Clear,Dry,Daylight,N,N
4,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,2,2,At Intersection (intersection related),N,0,Raining,Wet,Daylight,N,N
5,Intersection,24TH AVE NW AND NW 85TH ST,2,2,At Intersection (intersection related),N,N,Clear,Dry,Daylight,N,N
6,Intersection,DENNY WAY AND WESTLAKE AVE,2,2,At Intersection (intersection related),N,0,Raining,Wet,Daylight,N,N
7,Intersection,BROADWAY AND E PIKE ST,3,1,At Intersection (intersection related),N,N,Clear,Dry,Daylight,N,N
8,Block,PINE ST BETWEEN 5TH AVE AND 6TH AVE,2,2,Mid-Block (not related to intersection),N,0,Clear,Dry,Daylight,N,N
9,Intersection,41ST AVE SW AND SW THISTLE ST,2,2,At Intersection (intersection related),N,0,Clear,Dry,Daylight,N,N

In [17]:
collisions_dataframe_cleaned["ADDRTYPE"].value_counts()

Block           123664
Intersection     63559
Alley              747
Name: ADDRTYPE, dtype: int64

In [18]:
print(collisions_dataframe_cleaned["INATTENTIONIND"].value_counts())
replacement = {"INATTENTIONIND": {"N": 0, "Y": 1}}
collisions_dataframe_cleaned.replace(replacement, inplace=True)
print(collisions_dataframe_cleaned["INATTENTIONIND"].value_counts())

N    158299
Y     29671
Name: INATTENTIONIND, dtype: int64
0    158299
1     29671
Name: INATTENTIONIND, dtype: int64

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/generic.py:6517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  regex=regex)

In [19]:
print(collisions_dataframe_cleaned["UNDERINFL"].value_counts())
replacement = {"UNDERINFL": {"N": 0, "Y": 1, "0": 0, "1": 1}}
collisions_dataframe_cleaned.replace(replacement, inplace=True)
collisions_dataframe_cleaned["UNDERINFL"].value_counts()

N    99155
0    79724
Y     5099
1     3992
Name: UNDERINFL, dtype: int64

0    178879
1      9091
Name: UNDERINFL, dtype: int64

In [20]:
print(collisions_dataframe_cleaned["PEDROWNOTGRNT"].value_counts())
replacement = {"PEDROWNOTGRNT": {"N": 0, "Y": 1, }}
collisions_dataframe_cleaned.replace(replacement, inplace=True)
collisions_dataframe_cleaned["PEDROWNOTGRNT"].value_counts()

N    183306
Y      4664
Name: PEDROWNOTGRNT, dtype: int64

0    183306
1      4664
Name: PEDROWNOTGRNT, dtype: int64

In [21]:
print(collisions_dataframe_cleaned["SPEEDING"].value_counts())
replacement = {"SPEEDING": {"N": 0, "Y": 1, }}
collisions_dataframe_cleaned.replace(replacement, inplace=True)
collisions_dataframe_cleaned["SPEEDING"].value_counts()

N    178691
Y      9279
Name: SPEEDING, dtype: int64

0    178691
1      9279
Name: SPEEDING, dtype: int64

In [22]:
collisions_dataframe_cleaned.head(10)

,ADDRTYPE,LOCATION,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING
0,Intersection,5TH AVE NE AND NE 103RD ST,2,2,At Intersection (intersection related),0,0,Overcast,Wet,Daylight,0,0
1,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,2,2,Mid-Block (not related to intersection),0,0,Raining,Wet,Dark - Street Lights On,0,0
2,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,4,3,Mid-Block (not related to intersection),0,0,Overcast,Dry,Daylight,0,0
3,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,3,3,Mid-Block (not related to intersection),0,0,Clear,Dry,Daylight,0,0
4,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,2,2,At Intersection (intersection related),0,0,Raining,Wet,Daylight,0,0
5,Intersection,24TH AVE NW AND NW 85TH ST,2,2,At Intersection (intersection related),0,0,Clear,Dry,Daylight,0,0
6,Intersection,DENNY WAY AND WESTLAKE AVE,2,2,At Intersection (intersection related),0,0,Raining,Wet,Daylight,0,0
7,Intersection,BROADWAY AND E PIKE ST,3,1,At Intersection (intersection related),0,0,Clear,Dry,Daylight,0,0
8,Block,PINE ST BETWEEN 5TH AVE AND 6TH AVE,2,2,Mid-Block (not related to intersection),0,0,Clear,Dry,Daylight,0,0
9,Intersection,41ST AVE SW AND SW THISTLE ST,2,2,At Intersection (intersection related),0,0,Clear,Dry,Daylight,0,0

In [23]:
collisions_dataframe_cleaned = pd.get_dummies(collisions_dataframe_cleaned, columns=['ADDRTYPE', "JUNCTIONTYPE", "WEATHER", "ROADCOND", "LIGHTCOND"])
collisions_dataframe_cleaned

,LOCATION,PERSONCOUNT,VEHCOUNT,INATTENTIONIND,UNDERINFL,PEDROWNOTGRNT,SPEEDING,ADDRTYPE_Alley,ADDRTYPE_Block,ADDRTYPE_Intersection,...,ROADCOND_Wet,LIGHTCOND_Dark - No Street Lights,LIGHTCOND_Dark - Street Lights Off,LIGHTCOND_Dark - Street Lights On,LIGHTCOND_Dark - Unknown Lighting,LIGHTCOND_Dawn,LIGHTCOND_Daylight,LIGHTCOND_Dusk,LIGHTCOND_Other,LIGHTCOND_Unknown
0,5TH AVE NE AND NE 103RD ST,2,2,0,0,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
1,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,2,2,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
2,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,4,3,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,2ND AVE BETWEEN MARION ST AND MADISON ST,3,3,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,SWIFT AVE S AND SWIFT AV OFF RP,2,2,0,0,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
5,24TH AVE NW AND NW 85TH ST,2,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6,DENNY WAY AND WESTLAKE AVE,2,2,0,0,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
7,BROADWAY AND E PIKE ST,3,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
8,PINE ST BETWEEN 5TH AVE AND 6TH AVE,2,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
9,41ST AVE SW AND SW THISTLE ST,2,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
10,Unknown,2,2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
11,1ST AV S BR NB AND EAST MARGINAL WAY S,2,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
12,SW SPOKANE ST BETWEEN SW SPOKANE W BR AND TERM...,0,2,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
13,TERRY AVE BETWEEN JAMES ST AND CHERRY ST,2,2,0,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0
14,ROOSEVELT WAY NE BETWEEN NE 47TH ST AND NE 50T...,2,2,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
16,AURORA AVE N AND N 87TH ST,3,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
17,BATTERY ST TUN ON RP BETWEEN BELL ST AND ALASK...,0,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
18,S SPOKANE SR ST BETWEEN 4TH AVE S AND 5TH AVE S,4,3,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
19,41ST AVE SW BETWEEN SW WALKER ST AND SW COLLEG...,2,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
20,LAKE CITY WAY NE BETWEEN NE 143RD ST AND NE 14...,3,2,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
21,14TH AVE NE AND NE NORTHGATE WAY,5,3,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
22,11TH AVE BETWEEN E PINE ST AND E OLIVE ST,2,2,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
23,ALASKAN WY VI SB BETWEEN ALASKAN WY VI SB EFR ...,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
24,RAINIER AVE S AND S BRANDON ST,3,2,0,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
25,S JACKSON ST BETWEEN 14TH AVE S AND 16TH AVE S,2,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
26,BOREN AVE AND OLIVE WAY,2,2,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
27,SW ADMIRAL WAY BETWEEN 42ND AVE SW AND CALIFOR...,2,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
28,21ST AVE BETWEEN E MARION ST AND E UNION ST,2,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
29,1ST AVE S BETWEEN 1ST AVS ON N RP AND S ROYAL ...,2,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
30,9TH AVE AND JAMES ST,3,2,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194640,8TH AVE S AND S JACKSON ST,2,1,0,0,0,0,0,0,1,...,1,0,1,0,0,0,0,0,0,0
194641,SW ROXBURY ST BETWEEN 17TH AVE SW AND 18TH AVE SW,2,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
194642,AURORA AVE N AND N 128TH ST,2,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
194643,1ST AVE BETWEEN BLANCHARD ST AND BELL ST,2,2,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
194644,4TH AVE AND JAMES ST,2,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
194645,6TH AVE AND JAMES ST,5,2,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
194647,GREENWOOD AVE N BETWEEN N 104TH ST AND HOLMAN ...,2,1,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
194648,W HOWE ST BETWEEN QUEEN ANNE AVE N AND 1ST AVE W,2,2,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
194649,23RD AVE E AND E ALOHA ST,6,3,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
194650,GREENWOOD AVE N BETWEEN N 76TH ST AND N 77TH ST,5,5,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
194651,BROADWAY AND E PIKE ST,3,1,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,0
194652,TERRY AVE BETWEEN VIRGINIA ST AND LENORA ST,3,2,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
194653,HARVARD AVE E BETWEEN E ALLISON ST AND EASTLAK...,6,6,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
194656,5TH AVE AND LENORA ST,2,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
194657,4TH AVE BETWEEN PIKE ST AND PINE ST,2,2,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
194658,RAINIER AVE S BETWEEN 23RD AVE S AND S WALKER ST,3,3,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
194659,NE 123RD ST BETWEEN HIRAM PL NE AND 28TH AVE NE,2,2,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
194660,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,1,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
194661,20TH AVE BETWEEN E MADISON ST AND E DENNY WAY,2,2,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
194662,VALLEY ST BETWEEN WESTLAKE AVE N AND TERRY AVE N,2,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
194663,RAINIER AVE S BETWEEN S BAYVIEW ST AND S MCCLE...,3,2,1,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
194664,EASTLAKE AVE E AND E ROANOKE ST,8,3,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
194665,NE PARK RD AND NE RAVENNA WB BV,2,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
194666,AURORA AVE N BETWEEN N 90TH ST AND N 91ST ST,2,2,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
194667,PUGET BLVD SW BETWEEN SW HUDSON ST AND DEAD END 1,1,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
194668,34TH AVE S BETWEEN S DAKOTA ST AND S GENESEE ST,3,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
194669,AURORA AVE N BETWEEN N 85TH ST AND N 86TH ST,2,2,1,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
194670,20TH AVE NE AND NE 75TH ST,3,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
194671,GREENWOOD AVE N AND N 68TH ST,2,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
194672,34TH AVE BETWEEN E MARION ST AND E SPRING ST,2,2,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0

In [24]:
Features = collisions_dataframe_cleaned.values
Features[0:5]

array([['5TH AVE NE AND NE 103RD ST', 2, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       ['AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N', 2, 2, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       ['4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST', 4, 3, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       ['2ND AVE BETWEEN MARION ST AND MADISON ST', 3, 3, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       ['SWIFT AVE S AND SWIFT AV OFF RP', 2, 2, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0]], dtype=object)

In [25]:

from sklearn import preprocessing
location = preprocessing.LabelEncoder()
location.fit(list(collisions_dataframe_cleaned["LOCATION"].unique()))
Features[:,0] = location.transform(Features[:,0]) 

Features

array([[8737, 2, 2, ..., 0, 0, 0],
       [10643, 2, 2, ..., 0, 0, 0],
       [8001, 4, 3, ..., 0, 0, 0],
       ...,
       [2750, 3, 2, ..., 0, 0, 0],
       [14083, 2, 1, ..., 1, 0, 0],
       [5599, 2, 2, ..., 0, 0, 0]], dtype=object)

In [27]:
y = collisions_dataframe["SEVERITYCODE"]
y

0         2
1         1
2         1
3         1
4         2
5         1
6         1
7         2
8         1
9         2
10        1
11        1
12        1
13        1
14        2
15        1
16        2
17        1
18        2
19        1
20        2
21        2
22        1
23        1
24        2
25        2
26        1
27        1
28        1
29        1
         ..
194643    1
194644    1
194645    2
194646    1
194647    2
194648    1
194649    2
194650    2
194651    1
194652    1
194653    2
194654    1
194655    2
194656    2
194657    1
194658    1
194659    1
194660    2
194661    2
194662    1
194663    2
194664    1
194665    1
194666    2
194667    1
194668    2
194669    1
194670    2
194671    2
194672    1
Name: SEVERITYCODE, Length: 194673, dtype: int64